body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 480px;
    height: auto;
    min-width: 120px;
    max-width: 720px;
    border-radius: 25px;
}

.header {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.displayTitle {
    font-size: 32px;
    text-align: center;
}

.paintings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1, 1. auto;
}