body {
    display: flex;
    flex-direction: column;
}

img {
    width: 480px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.displayTitle {
    font-size: medium;
}

.paintings {
    display: flex;
    flex-wrap: wrap;
}