body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 480px;
    height: auto;
    min-width: 120px;
    max-width: 720px;
    border-radius: 25px;
    border: 2px solid aqua;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: blue;
    border-radius: 10px;
    flex-shrink: 0;
}

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 16px;
}

.heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.openText {
    font-size: 18px;
    color: #E5E7EB;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.welcome img {
    border-radius: 0;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

.item {
    min-width: 120px;
    max-width: 480px;
}

.displayTitle {
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    font-weight: bolder;
    padding: 16px;
}

.paintings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1, 1. auto;
}

.quote {
    background-color: #E5E7EB;
    text-align: center;
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.source {
    font-size: 18px;
    font-weight: bold;
}

.signup {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 20px;
    margin: 100px 200px;
    padding: 100px;
    color: #F9FAF8;
}

.subhead {
    font-size: 24px;
    font-weight: bold;
}

.footText {
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 12px;
    padding: 50px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
}